@page "/"

@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<PageTitle>Inventories Page</PageTitle>

<h1>List of Inventories</h1>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Quantity</th>
			<th>Price</th>
			<th></th>
			<th style="text-align:left"></th>
		</tr>
	</thead>
	<tbody>
		@if (inventories is not null && inventories.Count > 0)
		{
			foreach (var inv in inventories)
			{
				<InventoryListItemComponent Inventory="inv"></InventoryListItemComponent>
			}
		}
	</tbody>
</table>

@code {
	private List<Inventory>? inventories;
	private Inventory selectedInventory = new();

	protected override async Task OnInitializedAsync()
	{
		inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
	}
}
