@page "/home"

<PageTitle>Home Page</PageTitle>

<div class="container">
    <!-- Header Section -->
    <div class="header text-center mb-4">
        <h1>Welcome to Inventory Management System (IMS)!</h1>
        <p>Your one-stop solution for managing inventory efficiently.</p>
    </div>

    

    <!-- Footer Section -->
    <div class="footer text-center">
        <p>&copy; 2025 Inventory Management System. All rights reserved.</p>
    </div>
</div>

@code {

}
